/* DICHIARAZIONE VARIABILI */
:root
{
    /* VARIABILI DIMENSIONALI */
    --header_height     : 6vh;
    --footer_height     : 4vh; 
    --game_grid_side    : 80vh; 
    --rows              : 0;
    --game_grid_gap     : 3px; 
    /* VARIABILI CROMATICHE */
    --main_color        : #7FFFD4; 
    --h_f_color         : #FFFFFF;
    --btn_color         : rgb(169, 165, 165); 
    --grid_bg_color     : rgb(23, 22, 22);
    --cell_color        : lightgray; 
    --cell_border_col1  : rgb(95, 92, 92);
    --cell_border_col2  : rgb(225, 169, 169);

}

.slim_btn
{
    color: black;
    padding: 0.3rem 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--btn_color);
}

header
{
    height: var(--header_height);
    background-color: var(--h_f_color);
    padding-right: 1rem;
}

header > #logo_group, 
header > nav
{
    height: 100%;
}

header > #logo_group > img
{
    height: 100%;
    width: auto;
    object-fit: contain;
}

main
{
    height: calc(100% - var(--header_height) - var(--footer_height));
    background-color: var(--main_color);
}

main > #game_grid
{
    width: var(--game_grid_side);
    background-color: var(--grid_bg_color);
    padding: calc(var(--game_grid_gap) * 2);
    gap: var(--game_grid_gap);
}

main > #game_grid > .cell
{
    aspect-ratio: 1;
    cursor: pointer;
    flex-basis: calc((100% - ((var(--rows) - 1) * var(--game_grid_gap))) / var(--rows));
    background-color: var(--cell_color);
    border-right : 5px solid var(--cell_border_col1);
    border-bottom : 5px solid var(--cell_border_col1);
    border-left : 5px solid var(--cell_border_col2);
    border-top : 5px solid var(--cell_border_col2);
}

footer
{
    height: var(--footer_height);
    background-color: var(--h_f_color);
    padding-left: 1rem;
    column-gap: 0.5rem;
}